<body>
  <div class="h2-container">
    <h2>Contact with us</h2>
  </div>
  <div class="content-container">
    <p>E-mail:</p>
    <p class="text-content">xasad-contact@gmail.com</p>
  </div>
  <div class="content-container">
    <p>Phone number:</p>
    <p class="text-content">+48 538 545 540</p>
  </div>
  <form>
    <label for="email"> E-mail </label> <br />
    <input type="text" id="email" name="email" placeholder="E-mail" /> <br />
    <label for="topic">Topic</label> <br />
    <input type="text" id="topic" name="topic" placeholder="Topic" /> <br />
    <label for="content">Message Content</label> <br />
    <input type="text" id="content" name="content" placeholder="Your message content" /> <br />
    <br />
    <input type="submit" value="Submit" id="submit" />
  </form>
</body>
