<div class="login-container">
  <div class="login-background">
    <h2>Remember your password!</h2>
    <div class="login-container-text">
      <label for="login">E-mail</label>
      <input
        type="text"
        name="login"
        id="login"
        placeholder="Enter your E-mail"
      />
    </div>
    
    <div class="button-container">
      <button class="login">
        <p>Send</p>
      </button>
    </div>
    <div class="footer-elements-container">
            <a href="#" routerLink="/register">Register now!</a>
            <a href="#" routerLink="/login">Login now!</a>
    </div>
  </div>
</div>
