.top2{
    height: 100vh;
    width: 16rem;
    top: 0;
    position: fixed;
    background-color: #292929;
    color: #fff;
    transition: 0.5s;
    z-index: 1;
    // margin: 50px;
    box-shadow: 0 0 0px #000000;
    // z-index: 1000;
}
#logo{
    font-size: 1.5rem;
    font-weight: 500;
    color: #070600;
}
.logo-background{
    background-color: #fff;
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    margin-top: 10px;
    transition: 0.3s ease-in;

    &:hover{
        background-color: rgb(209, 208, 208);
        transition: 0.3s ease-out;
    }
    
}
.logo-container{
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: .7rem;
    margin: 5px 20px;
    cursor: pointer;
    
}
.icons-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
    transition: 0.5s;
    // align-items: center;
    margin: 20px 20px;
}

.logo-container-white{
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    margin: 12px 10px 12px 0px;
    cursor: pointer;
    transition: 0.5s ease;
    
    // color: #fff;
    // background-color: red;
    &:hover{
        background-color: white;
        transition: 0.5s ease;
}
    }
    .logo-container-white .gallery-icon{
        height: 100px;
        width: 75px;
    }


    #home, #shopping-icon, #galerry-icon, #chat-icon, #contact-icon, #stars-icon{
    color: #fff;
    transition: 0.2s;
    font-size: 2rem;
    padding: 7px 13px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    &:hover{
        color: #070600;
    transition: 0.5s;
    }
}

.icons-text{
    background-color: #fff;
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 1%;
    cursor: pointer;
    transition: 0.3s ease-in;
    margin-left: 20px;


    &:hover{
        background-color: rgba(216, 51, 51, 0.774);
        color: #fff;
        transition: 0.3s ease-out;
    }
}

.toggle{
    background-color: #fff;
    height: 40px;
    width: 40px;
    margin: 20px;
    color: #000;
}
.icons-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 1px;
    

}

.icons-box-container{
    display: flex;
    align-items: center;

}
p{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
