<div class="top">
    <div class="logo-container">
        <div class="logo-background" (click)="onclick7()" (click)="toggleMenu()">
            <span id="logo" class="material-symbols-outlined">menu</span>
        </div>
        <a href="#" class="logo-text" routerLink="/home">XASAD</a>
    </div>
    <div class="top2" *ngIf="visible7" >
    
        <div class="icons-container"   @fadeOut @fadeIn *ngIf="isMenuOpened">
            <div class="icons-box-container">
                <div class="logo-container-white">
                    <span id="home" class="material-symbols-outlined">home</span>
                </div>
                <span class="icons-text" routerLink="/home" @fadeIn @fadeOut>
                    <p>
                        HOME
                    </p>
                    </span>
            </div>
            <div class="icons-box-container" >
                <div class="logo-container-white">
                <span id="shopping-icon" class="material-symbols-outlined">shopping_cart</span>
            </div>
                <span class="icons-text" routerLink="/shop" @fadeIn @fadeOut>
                    <p>
                        SHOP
                    </p>
                    </span>
            </div>
            
    
            
            <div class="icons-box-container">
                <div class="logo-container-white">
                    <span id="contact-icon" class="material-symbols-outlined">contact_support</span>
                </div>
                <span class="icons-text" routerLink="/support" @fadeIn @fadeOut>
                    <p>
                        SUPPORT
                    </p>
                    </span>
            </div>
            
            </div>
            
        </div>
    <div class="top-nav">
            <span id="shoppingcard-icon" class="material-symbols-outlined">shopping_cart</span>
            <span id="shoppingcard-icon-person" class="material-symbols-outlined" routerLink="/login">person</span>
    </div>