<body>
  <div class="top">
    <div class="categories-container">
        <div class="categories-background" (click)="onclick()" >
            <p class="categories-text">CATEGORIES</p>
        </div>
            <div class="categories-sidenav" @fadeOut @fadeIn *ngIf="visible" >
                <div class="categories-sidenav-text" >
                    <p>T-shirts</p>
                    <p>Jackets</p>
                    <p>Shirts</p>
                    <p>Hoodie</p>
                    <p>Shoes</p>
                    <p>Hats</p>
                </div>
        </div>
    </div>
    <div class="search-background">
        <input class="search" type="text" />
        <span id="search" class="material-symbols-outlined">search</span>
    </div>
</div>
  <main>
    <div class="box-container">
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka z bawełny</p>
        <div class="button-container">
            <div class="price-button">20,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">80,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">150,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">30,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">23,99 $</div>
          <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">64,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">21,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">16,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">99,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">12,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">80,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box"></div>
        <p>Koszulka</p>
        <div class="button-container">
            <div class="price-button">25,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
    </div>
  </main>
</body>
