<body>
  <div class="top">
    <div class="categories-container">
        <div class="categories-background" (click)="onclick()" >
            <p class="categories-text">CATEGORIES</p>
        </div>
            <div class="categories-sidenav" @fadeOut @fadeIn *ngIf="visible" >
                <div class="categories-sidenav-text" >
                    <p>T-shirts</p>
                    <p>Jackets</p>
                    <p>Shirts</p>
                    <p>Hoodie</p>
                    <p>Shoes</p>
                    <p>Hats</p>
                </div>
        </div>
    </div>
    <div class="search-background">
      <label for="serach">
        <input class="search" type="text" />
      </label>
        <span id="search" class="material-symbols-outlined">search</span>
    </div>
</div>
  <main>
    <div class="box-container">
      <div class="box-containers">
        <div class="box">
            <img src="assets/images/black-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Black T-Shirt made of 100% Cotton</p>
        <div class="button-container">
            <div class="price-button">20,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
            <img src="assets/images/white-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Shirt with Tiger's Emblemats</p>
        <div class="button-container">
            <div class="price-button">80,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
            <img src="assets/images/tiger-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>T-Shirt with Sad Emoji's on Back</p>
        <div class="button-container">
            <div class="price-button">150,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
            <img src="assets/images/pink-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Classic Pink Oversize T-Shirt</p>
        <div class="button-container">
            <div class="price-button">30,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
            <img src="assets/images/black-hoodie.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Classic Black Oversize Zipped Hoodie</p>
        <div class="button-container">
            <div class="price-button">23,99 $</div>
          <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
          <img src="assets/images/tight-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Black and Tight Classic T-Shirt</p>
        <div class="button-container">
            <div class="price-button">64,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
          <img src="assets/images/grey-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Classic Grey Oversize T-Shirt</p>
        <div class="button-container">
            <div class="price-button">21,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
          <img src="assets/images/red-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Classic Red Overisze T-Shirt</p>
        <div class="button-container">
            <div class="price-button">16,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
          <img src="assets/images/checkered-tshirt.jpg" preload  alt="" height="300px" width="300px">
        </div>
        <p>T-Shirt With Black and White Checks</p>
        <div class="button-container">
            <div class="price-button">99,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
          <img src="assets/images/brokenheart-hoodie.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Hoodie with Brokenheart Emoji's</p>
        <div class="button-container">
            <div class="price-button">12,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
          <img src="assets/images/vintage-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Beatuiful Vintage T-Shirt with white neck</p>
        <div class="button-container">
            <div class="price-button">80,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
      <div class="box-containers">
        <div class="box">
          <img src="assets/images/striped-tshirt.jpg" preload alt="" height="300px" width="300px">
        </div>
        <p>Classic T-Shirt with Red, White and Yellow Stripes</p>
        <div class="button-container">
            <div class="price-button">25,99 $</div>
            <button class="buy-button">Add to card</button>
        </div>
      </div>
    </div>
  </main>
</body>
