/* You can add global styles to this file, and also import other style files */

body {
    // background-color: #000;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;

    // background-color: #5c5c5c;
    // color: #fff;
 }
 html{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
