<body>
    <section class="red">
        <div class="curve"></div>
    </section>
    <div class="h1-container">
        <h1>XASAD</h1>
    </div>
    <div class="h2-container">
        <h2>
            YOUR FAVORITE BRAND OF CLOTHES
            <div class="h2-border"></div>
        </h2>
    </div>
    <div class="boxes-container">
        <div class="boxes-backgrounds">
            <div class="boxes-black-model">
            </div>
            <div class="boxes-text-background">
                <div class="boxes-text">SMART BLACK T-SHIRT</div>
            </div>
            <div class="button-container">
                <button class="buy-box">
                    <p>
                        ADD TO CARD
                    </p>
                </button>
            </div>
            <div class="boxes-text-price-background">
                <div class="boxes-text-price">29.99$</div>
            </div>
        </div>
        <div class="boxes-backgrounds">
            <div class="boxes-tiger-model">
            </div>
            <div class="boxes-text-background">
                <div class="boxes-text">T-SHIRT WITH TIGER BRANDS</div>
            </div>
            <div class="button-container">
                <button class="buy-box">
                    <p>
                        ADD TO CARD
                    </p>
                </button>
            </div>
            <div class="boxes-text-price-background">
                <div class="boxes-text-price">49.99$</div>
            </div>
        </div>
        <div class="boxes-backgrounds">
            <div class="boxes-white-model">
            </div>
            <div class="boxes-text-background">
                <div class="boxes-text">WHITE T-SHIRT WITH SAD EMOTE</div>
            </div>
            <div class="button-container">
                <button class="buy-box">
                    <p>
                        ADD TO CARD
                    </p>
                </button>
            </div>
            <div class="boxes-text-price-background">
                <div class="boxes-text-price">119.99$</div>
            </div>
        </div>
    </div>


</body>