

p{
    color: #000;
    margin: 0;
    padding: 0;
}
body{
    background-color: #18181a;
    height: 150vh;
    overflow: hidden;


}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10px;
    padding: 50px 20vw;
}


.curve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}
.curve::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #18181a;
    transform: translate(85%, 60%);
    // z-index: -1;
}
button{
    text-decoration: none;
    border: none;

}

.curve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: rgb(216, 51, 51);
    transform: translate(-4%, 40%);
}


.red{
    background-color: rgb(216, 51, 51);
}
h1{
    margin-top: 150px;
    z-index: 10000;
    color: rgb(216, 51, 51);
    font-size: 3.5rem;
    letter-spacing: 10px;
    -webkit-text-stroke: 2px;
}

.h1-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: #fff;
    font-size: 2.7rem;
    letter-spacing: 10px;
}

.h2-container{
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom: 2px solid #fff;
    // max-width: 500px;
}
.h2-border{
    margin: 20px 0px;
    border-bottom: 5px solid #fff;

}
.boxes-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
}
.boxes-backgrounds{
    height: 300px;
    width: 300px;
    // background-color: red;
    margin: 100px 180px;
    border: 2px solid #fff;
    border-radius: 0.2rem;
}

.boxes-text{
    font-size: .8rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  30px;
}
.boxes-text-price{
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 20px;
    letter-spacing: 10px;
}
.boxes-text-price-background{
    display: flex;
    justify-content: center;
    background-color: #202020;
    height: 60px;
    width: 100%;
    border-left: 3px solid #fff;
}
.boxes-text-background{

    background-color:rgb(216, 51, 51);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 3px #000;
}
.buy-box{
    height: 50px;
    width: 120px;
    background-color: #fff;
    // border-radius: 0.3rem;
    border-left: 3px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-box p{
    font-size: .7rem;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

img{
    object-fit: cover;
}
footer{
    margin-top: 260px;
    height: 5vh;
    width: 100%;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 100;
}

@media only screen and (max-width: 1400px) {
    .h2-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    body{
        height: 350vh;
    }

    .boxes-container{
        flex-direction: column;
        // margin-top: 30px;
    }
    .boxes-backgrounds{
        margin-top: 140px;
    }
}
@media only screen and (max-width: 900px) {
    .h2-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}